/* .modal.fade:not(.in).bottom .modal-dialog {
	-webkit-transform: translate3d(0, 125%, 0);
	transform: translate3d(0, 125%, 0);
} */
/* main page  */
nav a {
  color: black;

}

.pure {
  width: 100%;
  height: 80%;
}

.link-modal{
    background-color: red;
    width: 80%;
    text-align: center;
    padding-top: 400px;

}
/* modal */
.modal-body {
    height:800px;
    width: 100%;
    overflow-y: auto;
}

.modal-backdrop {
  background-color: transparent !important;
}

#form {
    left: 10%;
    right:10%;
    top: 20%;
    /* margin-left: -25%; */
    position: absolute;
    margin-top: 0;
}

#form__g {


    /* margin-left: -25%; */
    position: absolute;
    margin-top: 0;
}

select {
    width: 50%;
}

/* search result */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.col::after {
	clear: left;

}
/* swiper */

.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 200px;
    }

  .swiper-image{
    width:200px;
    height:200px;
  }


@media (min-width: 375px){
  #form {
      left: 0;
      right:5%;
      top: 50%;
      /* margin-left: -25%; */
      position: absolute;
      margin-top: 0;
  }
  #form__g {
      left: 0;
      right:5%;
      top: 50%;
      position: absolute;
      margin-top: 0;
  }
  select {
      width: 30%;
  }

}
